/* Styling class for game cards */
.game-card {
    width: 300px;
    height: 217.47px
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 2.5rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.7);
    position: center;
    background-size: cover;
    float: left;
    padding: auto;
}

h1 {
    height: 300px;
    padding: 5%;
    text-align: center;
    background-image: linear-gradient(rgb(8, 8, 8), rgb(121, 121, 133));
    box-sizing: border-box;
    display: flex;
    margin: 0;
    color: aliceblue;
    background-repeat: repeat-x;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-size: 80px;
    font-style:"Quartan-LT-Std-Bold_37193";
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    background-color:none;
    color: black;
    font-family: 'Quartan';
    font-size: small;



}

img {
    
    width: 300px;
    flex-wrap: wrap; 
    transition: transform .2s;
    margin: 0 auto;
    height: 217.47px;
  border-radius: 2.5rem;
  object-fit: cover;
}

img:hover {
    transform: scale(1.1);
}

body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eee ;
    margin-bottom: 10rem;
    margin: 20px;
}


